.dashboard-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .chart-container {
    width: 100%;
    max-width: 430px;
    height: 400px;
  }

  .chart-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .chart-info {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  