.highlights-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-right: 28px;
}

.award-player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    background-image: url('@assets/rank/players_bg.png');
    background-size: 100% 100%;
    min-height: 118px;
    width: 148px;
    padding: 42px 10px 16px;
    box-sizing: border-box;
    margin-bottom: 4px;
    text-align: center;
}

/* .award-player-container img {
    position: absolute;
    width: 64px;
    height: 64px;
    top: -32px;
}  */

.award-player-avatar-container { 
    position: absolute;
    width: 64px;
    height: 64px;
    top: -32px; 
    background-image: url('@assets/rank/player_profile_bg.png'); 
    background-size: 100% 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.award-player-avatar-container > img { 
    width: 60px; 
    height: 60px; 
    border-radius: 6px;
}

.award-player-name {
    font-size: 0.75rem;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.award-player-title {
    font-size: 0.75rem;
    font-weight: 500;
    color: #ffa600;
    text-transform: uppercase;
    max-width: 100%;
    overflow-wrap: anywhere;
}

.award-player-desc {
    overflow-wrap: anywhere;
    font-size: 0.625rem;
    color: #FFFFFF;
}

.award-player-container.clickable {
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.award-player-container.clickable:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}