.menu {
  height: 48px;
  width: 100%;
  background-image: url("@assets/navbar_bg.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.logoContainer {
  /* position: absolute; */
  width: 64px;
  padding: 5px 12px;
}

.gameLogo {
  width: 100%;
  height: auto;
}

.avatarContainer {
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.avatar {
    border-left: 2px solid #CD853F;
    border-right: 2px solid #CD853F;
    width: 64px;
    background-color: rgba(0, 0, 0, 0.5);
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 8px;
    padding-right: 24px;
}

.userInfo span {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.userLevel {
    display: flex;
    background-color: #654321;
    margin-top: 4px;
    padding: 2px 4px;
}

.userLevel span {
    font-size: 10px;
    line-height: 8px;
    color: rgb(255, 170, 0);
}

.expand_btn {
    background-image: url('@assets/expand_btn.png');
    background-size: 100% 100%;
    width: 36px;
    height: 36px;
    margin: 0 8px;
}